# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Env
venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment Files
.env.local
.env.prod
.env.dev

# Data
data/raw/
data/temp/
data/processed/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Next.js
.next/

# Docker
*.pid
